

<br>
<br>
<br>
<br>
<br>

<br><br>
<div>
<h3>Les infirmieres du cabinet</h3>
<mat-grid-list cols="4" rowHeight="400px" >
  <mat-grid-tile *ngFor="let infir of cms.infirmiers "
                 [style.background]='lightblue' >
    <mat-card class="example-card" style="margin: 15px;">
      <div [ngStyle]="{'height':'90px'}">
        <mat-card-header >
          <div mat-card-avatar [ngStyle]="{'background-image': getUrlP(infir),'background-size' : 'cover'}"></div>
          <mat-card-title>{{getNom(infir)}}</mat-card-title>
          <mat-card-subtitle>Infirmier(e)</mat-card-subtitle>
        </mat-card-header>
      </div>
      <mat-card-content>
          <div [ngStyle]="{'height':'90px'}">
          <h4>rue : {{infir.adresse.rue}}</h4>
          <h4>ville : {{infir.adresse.ville}}</h4>
          <h4>code postal : {{infir.adresse.codePostal}}</h4>
          </div>
          <div [ngStyle]="{'height':'150px','text-align':'center'}">
          <h5 *ngIf="infir.patients.length > 1 ;else other_content"> vous avez {{infir.patients.length}} visites</h5>
          <ng-template #other_content><h5>vous avez {{infir.patients.length}} visite</h5></ng-template>
          <cdk-virtual-scroll-viewport itemSize="1" class="example-viewport" >
            <div *cdkVirtualFor="let pat of infir.patients " class="example-item">
              <b>-{{getNom(pat)}}</b>
            </div>
          </cdk-virtual-scroll-viewport>
          </div>
        </mat-card-content>

    </mat-card >
  </mat-grid-tile>
</mat-grid-list>

</div>
