@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

//color/ui color variables
$white: #ececec;
$black: #111111;
$red1: #c92918;
$red2: #111111;
$colorPrimary: $red1;
$colorSecondary: $red2;
$cubic-bezier:cubic-bezier(0.68, -0.55, 0.265, 1.55);

//split button mixin
@mixin btn__split($foregroundColor, $backgroundColor, $textColor) {
  .btn {
    //display: block;
    position: relative;
    letter-spacing: 0.15em;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    background: transparent;
    outline: none;
    font-size: 28px;
    color: $textColor;
    transition: all 0.5s $cubic-bezier 0.15s;
    &::after,
    &::before {
      content: "";
      position: absolute;
      height: 40%;
      width: 10%;
      transition: all 0.5s $cubic-bezier;
      z-index: -2;
      border-radius: 50%;
      //animation: grow 1s infinite;
    }
    &::before {
      background-color: $backgroundColor;
      top: -0.75rem;
      left: 0.5rem;
      animation: top 2s $cubic-bezier 0.25s infinite alternate;
    }
    &::after {
      background-color: $foregroundColor;
      top: 3rem;
      left: 13rem;
      animation: bottom 2s $cubic-bezier 0.5s infinite alternate;
    }
    &:hover {
      color: white;
      &::before,
      &::after {
        top: 0;
        //transform: skewx(-10deg);
        height: 100%;
        width: 100%;
        border-radius: 0;
        animation: none;
      }
      &::after {
        left: 0rem;
      }
      &::before {
        top: 0.5rem;
        left: 0.35rem;
      }
    }
  }
}

*{
  box-sizing:border-box;
}
body,html{
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  color: $black;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.container {
  width: auto;
  margin: auto;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
@keyframes top{
  from{
    transform: translate(0rem, 0);
  }
  to {
    transform: translate(0rem, 3.5rem);
  }
}
@keyframes bottom{
  from{
    transform: translate(-11.5rem, 0);
  }
  to{
    transform: translate(0rem, 0);
  }
}

@include btn__split($colorPrimary, $colorSecondary, $black);

.contener_slideshow
{
  width:610px;
  height:250px;
  overflow: hidden;
  position: relative;
}
.slid_1, .slid_2, .slid_3, .slid_4, .slid_5
{
  position: absolute;
  width:610px;
  height:250px;
}
.slid_1{left: 0;}
.slid_2{left: 610px;}
.slid_3{left: 1220px;}
.slid_4{left: 2440px; }
.slid_5{left: 4880px;}
.contener_slide
{
  width: 4880px;
  height: 250px;
  left:0px;
  position: absolute;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-name: anim_slide;
  -moz-animation-duration: 10s;
  -moz-animation-iteration-count:infinite;
  -moz-animation-name: anim_slide;
  -ms-animation-duration: 10s;
  -ms-animation-iteration-count:infinite;
  -ms-animation-name: anim_slide;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  animation-name: anim_slide;
}
@-webkit-keyframes anim_slide
{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-610px;}
  30% {left:-610px;}
  40% {left:-1220px;}
  50% {left:-1220px;}
  60%{left:-2440px;}
  70%{left:-2440px;}
  80%{left:-4880px; }
  90%{left:-4880px;}
   }
@-moz-keyframes anim_slide
{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-610px;}
  30% {left:-610px;}
  40% {left:-1220px;}
  50% {left:-1220px;}
  60%{left:-2440px;}
  70%{left:-2440px;}
  80%{left:-4880px; }
  90%{left:-4880px;}
}
@-ms-keyframes anim_slide
{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-610px;}
  30% {left:-610px;}
  40% {left:-1220px;}
  50% {left:-1220px;}
  60%{left:-2440px;}
  70%{left:-2440px;}
  80%{left:-4880px; }
  90%{left:-4880px;}
}
@keyframes anim_slide
{
  0% {left:0px;}
  10% {left:0px;}
  20% {left:-610px;}
  30% {left:-610px;}
  40% {left:-1220px;}
  50% {left:-1220px;}
  60%{left:-2440px;}
  70%{left:-2440px;}
  80%{left:-4880px; }
  90%{left:-4880px;}
}
