<br><br>
<br><br>
<br><br>
<br><br>
<div style="text-align:center" class="container">
 <a class="btn"> Bienvenue au Cabinet Orand & Ghammaz!</a>
</div>
<br><br>
<div style="text-align:center;margin: auto">
  <div align="center">
    <div class="contener_slideshow">
      <div class="contener_slide">
        <div class="slid_1"><img src="/assets/images/hhh.png"></div>
        <div class="slid_2"><img src="/assets/images/koko.png"></div>
        <div class="slid_3"><img src="/assets/images/images.png"></div>
        <div class="slid_4"><img src="/assets/images/med.png"></div>
        <div class="slid_5"><img src="/assets/images/mag.png"></div>

      </div>
    </div>
  </div>
</div>


  <br>



<div style="text-align:center">
  <h3>Adress : {{getET(cb.adresse)}} éme étage</h3>
  <h3>  {{getNum(cb.adresse)}} , rue : {{cb.adresse.rue}} , {{cb.adresse.ville}} - {{cb.adresse.codePostal}}</h3>
</div>

