.example-card {
  width: 280px;
  height: 330px;
}

.example-header-image {
  background-image: url('/data/homer1.gif');
  background-size: cover;
}
mat-card {
  width: calc(100% - 30px);
  height: calc(100% - 40px);
}
.body{
  border: 2px solid #3388CC;
  //background-position: 50% 50%;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 5px black;
  padding: 70px;
  border-radius: 100px;
  height: 1900px;
  margin: auto;
  font-size: 20px;
  font-family: 'Source sans Pro',Calibri,Tohama,sans-serif;

  color:black;
  background-color:white;
  background-attachment:fixed;
  // background-size:cover;
  background-position: center;
  background-size: 100% auto;

  width: 1500px;


}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  //font-size: 28px;
  padding: 2px 3px;
  width: 70px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.table1  {
  border-collapse: collapse;
  border: 4px solid black;
  font-family: arial, sans-serif;
  width:1000px;
  text-align:center;

}

.thtd {
  padding: 20px;
  text-align: left;
  border-bottom: 5px solid #ddd;
  width: 1000px ;
}

.example-button-row {
  margin-right: 20px;
  float: right;
}
.example-button-row1{
  margin-right: 1px;
}
.button12 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  //font-size: 20px;
  //background-color: #4CAF50;
  //border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}

.button12:hover {
  background-color: #f44336;
  color: white;
}
.container {
  width: auto;
  margin: auto;
}


.table1  {
  border-collapse: collapse;
  border: 4px solid black;
  font-family: arial, sans-serif;
  width:1000px;
  text-align:center;

}

.thtd {
  padding: 20px;
  text-align: left;
  border-bottom: 5px solid #ddd;
  width: 1000px ;
}

.example-button-row {
  margin-right: 20px;
  float: right;
}
.example-button-row1{
  margin-right: 1px;
}
.button12 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
  //font-size: 20px;
  //background-color: #4CAF50;
  //border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}

.button12:hover {
  background-color: #f44336;
  color: white;
}
.container {
  width: auto;
  margin: auto;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color: white;
  background: #e60000;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #333;
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

span {
  transform: skewX(15deg)
}

span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: white;
  }
  50% {
    fill: #FBC638;
  }
  100% {
    fill: white;
  }
}
