<div class="navbar"  >
  <div id="mySidenav" class="sidenav">
    <form class="example-form" [formGroup]="searchForm" role="search" >
      <table>
        <tr>
          <td>
            <label for="search"></label>
            <input id="search" formControlName="search" type="text" placeholder="Search.." name="search">
          </td><button class="button" [disabled]="searchForm.invalid" (click)="(search())"><img class="logo" src="/assets/images/search.png"></button>
        </tr>
      </table>
    </form>


    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <table>
      <tr>
        <img class="logo" src="/assets/images/home.png">
        <td>
          <a routerLink="">Home</a>
        </td>
      </tr>
      <tr>
        <img class="logo" src="/assets/images/face.png">
        <td><a routerLink="infirmieres">Infirmieres</a></td>
       </tr>
        <tr>
          <img class="logo" src="/assets/images/pat.png">
          <td>
            <a routerLink="patients">Patients</a>
          </td>
        </tr>

    </table>

  </div>
  <span style="font-size:40px;cursor:pointer;color: #dddddd" (click)="openNav()">&#9776;</span>

  <div  class="topnav-centered">

    <a routerLink=""><b style="font-size:40px;cursor:pointer;color: #dddddd">
      <span>C</span>
      <span>A</span>
      <span>B</span>
      <span>I</span>
      <span>N</span>
      <span>E</span>
      <span>T </span>
      <span>'</span>
      <span>O</span>
      <span>&</span>
      <span>G</span>
    </b></a>

  </div>
</div>

<router-outlet></router-outlet>



