
body {
  margin:0;
  font-family: "Lato", sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
}

.navbar a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #111;
  color: white;
}
div.navbar{z-index:5;}

.main {
  padding: 30px;
  margin-top: 60px;
  height: 1900px; /* Used in this example to enable scrolling */
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #333;
}



.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topnav-centered a:hover {
  background-color: #111;
  color: white;
}
.button {
  background-color: #111;
  border: 2px solid #111;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 2px 2px;
  cursor: pointer;
}
.button:hover{
  background-color: #111111;
  color: white;
}
input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('/assets/images/search.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
  width: 100%;
}


//CONFIG
$time: 250ms;
$number: 3;
$ease: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$move: 2em;
$color: white;
$font: 'Roboto Condensed', sans-serif;

//STYLES
html{
  padding: 25vh 10vw;
  text-align: center;
}
a {
  cursor: pointer;
  font-family: $font;
  font-weight: 900;
  user-select: none;
  color: $color;
  font-size: 0;
  transform: translate3d(0, 0, 0);
  filter: blur(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  span {
    font-size: 40px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    transition: transform $ease $time;
    padding: 0 0.1em;

    @for $i from 0 through $number {
      &:nth-child(#{$i}n) {
        transition-delay: $time*$i/$number;
      }
      &:nth-child(#{$i}n):after {
        transition-delay: $time*$i/$number;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: -1%;
      width: 102%;
      height: $move;
      background: #f1f1f1;
      transform-origin: top center;
      transform: scaley(0.1);
      transition: transform $ease $time;
    }
  }
  &:hover {
    span {
      transform: translateY(-$move/2);
      &:after {
        transform: scaleY(1);
      }
    }
  }
  &:active {
    span {
      transform: translateY(0);
      transition: transform $ease $time/2;
      transition-delay: 0 !important;
      &:after {
        transform: scaleY(0.5);
        transition: transform $ease $time/2;
        transition-delay: 0 !important;
      }
    }
  }
}
